@page
@model IntexWinter.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Burialmain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Burialmain.Id" class="control-label"></label>
                <input asp-for="Burialmain.Id" class="form-control" />
                <span asp-validation-for="Burialmain.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Squarenorthsouth" class="control-label"></label>
                <input asp-for="Burialmain.Squarenorthsouth" class="form-control" />
                <span asp-validation-for="Burialmain.Squarenorthsouth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Headdirection" class="control-label"></label>
                <input asp-for="Burialmain.Headdirection" class="form-control" />
                <span asp-validation-for="Burialmain.Headdirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Sex" class="control-label"></label>
                <input asp-for="Burialmain.Sex" class="form-control" />
                <span asp-validation-for="Burialmain.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Northsouth" class="control-label"></label>
                <input asp-for="Burialmain.Northsouth" class="form-control" />
                <span asp-validation-for="Burialmain.Northsouth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Depth" class="control-label"></label>
                <input asp-for="Burialmain.Depth" class="form-control" />
                <span asp-validation-for="Burialmain.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Eastwest" class="control-label"></label>
                <input asp-for="Burialmain.Eastwest" class="form-control" />
                <span asp-validation-for="Burialmain.Eastwest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Adultsubadult" class="control-label"></label>
                <input asp-for="Burialmain.Adultsubadult" class="form-control" />
                <span asp-validation-for="Burialmain.Adultsubadult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Facebundles" class="control-label"></label>
                <input asp-for="Burialmain.Facebundles" class="form-control" />
                <span asp-validation-for="Burialmain.Facebundles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Southtohead" class="control-label"></label>
                <input asp-for="Burialmain.Southtohead" class="form-control" />
                <span asp-validation-for="Burialmain.Southtohead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Preservation" class="control-label"></label>
                <input asp-for="Burialmain.Preservation" class="form-control" />
                <span asp-validation-for="Burialmain.Preservation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Fieldbookpage" class="control-label"></label>
                <input asp-for="Burialmain.Fieldbookpage" class="form-control" />
                <span asp-validation-for="Burialmain.Fieldbookpage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Squareeastwest" class="control-label"></label>
                <input asp-for="Burialmain.Squareeastwest" class="form-control" />
                <span asp-validation-for="Burialmain.Squareeastwest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Goods" class="control-label"></label>
                <input asp-for="Burialmain.Goods" class="form-control" />
                <span asp-validation-for="Burialmain.Goods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Text" class="control-label"></label>
                <input asp-for="Burialmain.Text" class="form-control" />
                <span asp-validation-for="Burialmain.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Wrapping" class="control-label"></label>
                <input asp-for="Burialmain.Wrapping" class="form-control" />
                <span asp-validation-for="Burialmain.Wrapping" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Haircolor" class="control-label"></label>
                <input asp-for="Burialmain.Haircolor" class="form-control" />
                <span asp-validation-for="Burialmain.Haircolor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Westtohead" class="control-label"></label>
                <input asp-for="Burialmain.Westtohead" class="form-control" />
                <span asp-validation-for="Burialmain.Westtohead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Samplescollected" class="control-label"></label>
                <input asp-for="Burialmain.Samplescollected" class="form-control" />
                <span asp-validation-for="Burialmain.Samplescollected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Area" class="control-label"></label>
                <input asp-for="Burialmain.Area" class="form-control" />
                <span asp-validation-for="Burialmain.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Burialid" class="control-label"></label>
                <input asp-for="Burialmain.Burialid" class="form-control" />
                <span asp-validation-for="Burialmain.Burialid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Length" class="control-label"></label>
                <input asp-for="Burialmain.Length" class="form-control" />
                <span asp-validation-for="Burialmain.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Burialnumber" class="control-label"></label>
                <input asp-for="Burialmain.Burialnumber" class="form-control" />
                <span asp-validation-for="Burialmain.Burialnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Dataexpertinitials" class="control-label"></label>
                <input asp-for="Burialmain.Dataexpertinitials" class="form-control" />
                <span asp-validation-for="Burialmain.Dataexpertinitials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Westtofeet" class="control-label"></label>
                <input asp-for="Burialmain.Westtofeet" class="form-control" />
                <span asp-validation-for="Burialmain.Westtofeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Ageatdeath" class="control-label"></label>
                <input asp-for="Burialmain.Ageatdeath" class="form-control" />
                <span asp-validation-for="Burialmain.Ageatdeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Southtofeet" class="control-label"></label>
                <input asp-for="Burialmain.Southtofeet" class="form-control" />
                <span asp-validation-for="Burialmain.Southtofeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Excavationrecorder" class="control-label"></label>
                <input asp-for="Burialmain.Excavationrecorder" class="form-control" />
                <span asp-validation-for="Burialmain.Excavationrecorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Photos" class="control-label"></label>
                <input asp-for="Burialmain.Photos" class="form-control" />
                <span asp-validation-for="Burialmain.Photos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Hair" class="control-label"></label>
                <input asp-for="Burialmain.Hair" class="form-control" />
                <span asp-validation-for="Burialmain.Hair" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Burialmaterials" class="control-label"></label>
                <input asp-for="Burialmain.Burialmaterials" class="form-control" />
                <span asp-validation-for="Burialmain.Burialmaterials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Dateofexcavation" class="control-label"></label>
                <input asp-for="Burialmain.Dateofexcavation" class="form-control" />
                <span asp-validation-for="Burialmain.Dateofexcavation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Fieldbookexcavationyear" class="control-label"></label>
                <input asp-for="Burialmain.Fieldbookexcavationyear" class="form-control" />
                <span asp-validation-for="Burialmain.Fieldbookexcavationyear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Clusternumber" class="control-label"></label>
                <input asp-for="Burialmain.Clusternumber" class="form-control" />
                <span asp-validation-for="Burialmain.Clusternumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialmain.Shaftnumber" class="control-label"></label>
                <input asp-for="Burialmain.Shaftnumber" class="form-control" />
                <span asp-validation-for="Burialmain.Shaftnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
