@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We take our members’, supporters’ and website visitors’ privacy very seriously. 
    We will never knowingly share our supporters’ personally identifiable information with outside organizations except as stipulated in this Privacy Policy.
    This policy describes how we may collect, use and share information about you. This policy applies to information we collect when you use our websites, 
    communicate with us through information and distribution channels, or otherwise interact with us.
    We may change this Privacy Policy from time to time. If we make changes, we will revise the date at the bottom of this policy, 
    so we encourage you to review the Privacy Policy whenever you interact with us to stay informed about our information practices. 
</p>
<h3>Information We Collect</h3>
<p>
    Our online and offline resources are intended to provide our members, followers and website visitors information about our work to fulfill its mission. 
    In the course of providing these services, for some materials, services or transactions, you may be asked to provide your name, address, 
    and other information. Our only collects personal information that you knowingly and voluntarily provide when, for example, sending queries via
    email, completing membership forms, donating funds or responding to surveys.
    The type of information we collect includes name, email address, zip code, billing address, 
    shipping address, phone number, payment information, demographic information.
    In some cases, we also collect information you provide about others, such as when giving a gift membership. 
    We will use this information to fulfill your request and will provide the recipient our standard opportunity to opt out of further marketing communication.
    In addition, we automatically collect certain information when you access or use our websites or transact with us, including:
</p>
<h3>Server Information</h3>
<p>
    We collect information such as the browser type and version, access time, pages viewed, IP address and the referring website.
</p>
<h3>Information Collected By Cookies & Other Tracking Technologies</h3>
<p>
    We utilize cookies, web beacons (also known as “tracking pixels”) and other tracking technologies to collect information about audience
    interactions with our website and email communications, including information about traffic to the site and browsing behavior.
    Information automatically collected is used in aggregate for purposes, such as improving our visitors’ online experience, understanding 
    which areas and features of our site are most visited, understanding how visitors navigate our site, understanding email effectiveness, 
    tailoring our communications, and other internal business purposes.
</p>
<h3>Information We Use</h3>
<p>
    We use information about you for various purposes, including to:
    <ul>
        <li>Provide the services you request, process transactions and send you related information, including confirmations and receipts;</li>
        <li>Respond to your comments, questions and requests; </li>
        <li>Communicate with you about us, including our events, news and information we think will be of interest to you.  </li>
        <li>Introduce you to of our local representatives when you wish to be involved in local programs and events; </li>
        <li>Monitor and analyze trends, usage and activities; and </li>
        <li>Carry out any other purpose for which the information was collected, consistent with the commitments made in this Privacy Policy. </li>
    </ul>
</p>
<h3>Information We Share</h3>
<p>
    Instances where we share information include:
    <ul>
        <li>Sharing with vendors, consultants and other service providers that need access to such information to carry out work on our behalf. 
        Orders are processed through a third-party payment processor, which receives personal information, 
        including credit card information, in order to facilitate the transaction process. </li>
        <li>Providing contact information to us when members wish to be affiliated with their local group</li>
        <li>Collaborating with a like organization, we may share your name and address information, but we do NOT share phone numbers or email addresses</li>
    </ul>
</p>
<h3>Information Safety</h3>
<p>
    When users provide personal information, we take steps to ensure the information remains secure both during transmission and while stored. 
    All sensitive donor and member information is stored securely and only accessed by authorized staff through a monitored and recorded login 
    process using secure communication and password protection.

    For our users’ protection, our website uses Secure Sockets Layer (SSL), the standard of World Wide Web security, whenever financial transactions 
    are being conducted.  However, like other companies, we cannot guarantee 100% the security or confidentiality of the 
    information you provide to us. While we endeavor to safeguard your personal information against unauthorized access and disclosure,
    we do not warrant or guarantee the absolute security of any personal information you transmit to, from or through the websites. 
    Please note that once you leave the our website, whether independently or via links from the website, the privacy policies 
    of the site to which you migrate will apply. This Privacy Policy applies to your interactions with us only.
</p>
<h3>Children & Privacy</h3>
<p>
    Our website is intended to be enjoyed by a general audience. We will not knowingly collect personally identifiable information from children 
    under the age of thirteen (13). If children under 13 wish to transact with ARCE, they need the consent of a parent or guardian.
</p>
<h3>International Users</h3>
<p>
    Our operations are headquartered in the United States. If you access our site from outside the United States, your connection may be through and to 
    servers located in your country. Any personal information you provide may be processed and maintained in the United States on servers and/or 
    other network systems operated by or for us. Regardless of where you live, you consent to have Personal Information you provide transferred, 
    processed and stored in the United States, and allow us to use your personal information in accordance with this Privacy Policy. In addition, 
    in compliance with EU laws and regulations, users are prompted to opt into cookie sharing.
</p>
<h3>Links to Third-Party Sites</h3>
<p>
    We may provide links to external websites as a resource for additional information related to our content.  
    When you link to another site external to our site, that site’s privacy policy governs treatment of personal information you provide while there.
</p>
<h3>Governing Law</h3>
<p>
    The website and this Privacy Policy are governed by the laws of Virginia and all disputes shall be subject to the jurisdiction of the state and 
    federal courts serving the Eastern District of the Commonwealth of Virginia.  
    You agree to waive all right to a jury trial in connection with disputes arising under this Privacy Policy.  
    In no event shall ARCE be liable to you for indirect, consequential or punitive damages in connection with this Privacy Policy.  
</p>
<p>
    Effective Date — <i>This privacy policy is effective as of 14 April 2023.</i>
</p>
